<div class="centered-card">
  <p-card class="footerCards">
    <b>Visszatérítési Politika</b> <br />

    Az Electronic Emporium célja az elégedett ügyfelek és az általuk vásárolt
    termékek teljes elégedettsége. Amennyiben bármilyen oknál fogva elégedetlen
    vagy probléma merül fel a vásárolt termékkel kapcsolatban, örömmel segítünk
    a visszatérítési folyamatban.

    <br /><br /><b> Visszatérítés Előfeltételei</b> <br />

    <ul>
      <li>
        A termék visszaküldése előtt kérjük, vegye fel velünk a kapcsolatot az
        alábbi elérhetőségeken, hogy értesítsen minket a visszaküldés
        szándékáról és részleteiről.
      </li>
      <li>
        A terméket eredeti állapotában és csomagolásában kell visszaküldeni,
        minden tartozékával együtt.
      </li>
      <li>
        Az áru visszaküldésének határideje általában 30 naptári nap a termék
        átvételétől számítva.
      </li>
    </ul>

    <b>Visszatérítés Folyamata</b> <br />

    <ul>
      <li>
        Miután megérkezett hozzánk a visszaküldött áru és ellenőriztük annak
        állapotát, megkezdjük a visszatérítés feldolgozását.
      </li>
      <li>
        A visszatérítés általában eredeti fizetési móddal történik, de
        egyeztethetünk más visszatérítési módokról is.
      </li>
      <li>
        Kérjük, vedd figyelembe, hogy a szállítási díjak visszatérítése nem
        lehetséges, kivéve, ha a termék hibás vagy sérült volt.
      </li>
    </ul>

    <b> Fontos Megjegyzések</b> <br />

    <ul>
      <li>
        A visszatérítési folyamat részleteiről és a visszaküldés pontos
        utasításairól kérjük, lépjen kapcsolatba ügyfélszolgálatunkkal az alábbi
        elérhetőségeken.
      </li>
      <li>
        Kérjük, vedd figyelembe, hogy a visszatérítés feldolgozása időbe telhet,
        miután megérkezett hozzánk a visszaküldött áru.
      </li>
    </ul>

    Reméljük, hogy mindig elégedett leszel a vásárlásaid során, de ha bármilyen
    probléma merülne fel, készen állunk a segítségre az Electronic Emporium-nál!
  </p-card>
</div>
