.nav-link.btn.btn-primary {
  background-color: #fdfbfc;
  /* Replace with the desired primary color */
  /* Add any other styles you need */
}

.nav-link.btn.btn:hover {
  /* You can keep the hover effect if needed */
  background-color: #fdfbfc;
  /* Ensure it matches the primary color */
}

.navbar {
  background-color: #d5e5f6; //#d5e5f6
  margin: 0;
  padding: 5;
  font-size: 24px;
}

.navbar-brand {
  font-size: 40px;
}

.nav-link {
  margin: 10px;
  padding: 10px;
  width: 150px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: red;
}
