.navbar {
  background-color: #d5e5f6; //#d5e5f6
  margin: 0;
  font-size: 20px;
}

.navbar-brand {
  font-size: 40px;
}

.nav-link {
  width: 150px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #fdfbfc;
}

.link-hover:hover {
  background-color: #fdfbfc;
}
