<div class="container">
  <div class="left-box">
    <h1>A mi ajánlatunk</h1>
    <p>
      <p-carousel
        [value]="(products$ | async) ?? []"
        [numVisible]="2"
        [numScroll]="2"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-product pTemplate="item">
          <div
            class="border-1 surface-border border-round m-2 text-center py-5 px-3"
          >
            <div class="mb-3">
              <a [routerLink]="['/products', product.id]">
                <img
                  src="{{ product.imageUrl }}"
                  [alt]="product.name"
                  class="w-6 shadow-2"
                  style="max-width: 300px; max-height: 200px"
              /></a>
            </div>
            <div>
              <h4 class="mb-1">{{ product.productName }}</h4>
              <ng-container *ngIf="product.discount == 0">
                <p class="price">
                  Ár: <b>{{ product.price | number : "1.0-0" }} Ft</b>
                </p>
              </ng-container>
              <ng-container *ngIf="product.discount != 0">
                <p class="discountCorssedPrice">
                  <p-chip
                    label="-{{ product?.discount }}%"
                    class="discount"
                  ></p-chip>
                  <span class="marginDiscount"
                    >Ár: <b>{{ product.price | number : "1.0-0" }} Ft</b></span
                  >
                </p>
                <p class="price">
                  Akciós ár:
                  <b
                    >{{
                      getDiscountPrice(product.price, product.discount)
                        | number : "1.0-0"
                    }}
                    Ft</b
                  >
                </p>
              </ng-container>
              <h6 class="mt-0 mb-3">
                {{ product.quantity + " Darab elérhető" }}
              </h6>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </p>
  </div>
  <div class="right-box">
    <div class="small-box">
      <h3>Iratkozz fel hírlevelünkre!</h3>
      <br />
      <form [formGroup]="newLetterForm">
        <div class="outline">
          <div class="centered-content">
            <div class="centered-elements">
              <span class="p-float-label">
                <input
                  pInputText
                  type="text"
                  class="p-inputtext-lg"
                  formControlName="name"
                />
                <label htmlFor="name">Név</label>
              </span>
              <br />
              <span class="p-float-label">
                <input
                  pInputText
                  type="text"
                  class="p-inputtext-lg"
                  formControlName="email"
                />
                <label htmlFor="mail">E-mail cím</label>
              </span>

              <p-button
                icon="pi pi-envelope"
                (onClick)="addNewPromotionMail()"
                label="Feliratkozás"
                class="placeOrderButton"
                [disabled]="newLetterForm.invalid"
              ></p-button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="small-box">
      <h3>Akciók rád szabva</h3>
      <p>
        <p-carousel
          [value]="(disocuntedProducts$ | async) ?? []"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <div
              class="border-1 surface-border border-round m-2 text-center py-5 px-3"
            >
              <div class="mb-3">
                <a [routerLink]="['/products', product.id]">
                  <img
                    src="{{ product.imageUrl }}"
                    [alt]="product.name"
                    class="w-6 shadow-2"
                    style="max-width: 200px; max-height: 100px"
                /></a>
              </div>
              <div>
                <h4 class="mb-1">{{ product.productName }}</h4>
                <p class="discountCorssedPrice">
                  <p-chip
                    label="-{{ product?.discount }}%"
                    class="discount"
                  ></p-chip>
                  <span class="marginDiscount"
                    >Ár: <b>{{ product.price | number : "1.0-0" }} Ft</b></span
                  >
                </p>
                <b
                  >{{
                    getDiscountPrice(product.price, product.discount)
                      | number : "1.0-0"
                  }}
                  Ft</b
                >
                <h6 class="mt-0 mb-3">
                  {{ product.quantity + " Darab elérhető" }}
                </h6>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </p>
    </div>
  </div>
</div>
<app-main-slider></app-main-slider>
<p-toast></p-toast>
