<div class="centered-card">
  <p-card class="footerCards">
    <b>Fizetési Információk</b> <br />

    Az Electronic Emporium-nál kiemelt figyelmet fordítunk a biztonságos és
    kényelmes fizetési lehetőségek biztosítására, hogy vásárlóink teljes
    nyugalomban élvezhessék az online vásárlást.

    <b>Elfogadott Fizetési Módok</b> <br />

    <ul>
      <li>
        Bankkártya: Elfogadunk Visa, MasterCard és American Express kártyákat. A
        tranzakciók biztonságát érdekében minden fizetés kódolt módon történik.
      </li>
      <li>
        PayPal: Ha PayPal-fiókkal rendelkezel, könnyedén és biztonságosan
        fizethetsz vele az általad választott termékekért.
      </li>
    </ul>

    <b>Fizetési Folyamat</b> <br />

    <ul>
      <li>
        A kiválasztott termékek kosárba helyezése után a "Fizetés" oldalra
        irányítunk át, ahol kiválaszthatod a számodra legmegfelelőbb fizetési
        módot.
      </li>
      <li>
        Kérjük, győződj meg arról, hogy a fizetési adatok helyesek és pontosak
        legyenek, hogy gördülékenyen zajljon le a tranzakció.
      </li>
    </ul>

    <b>Biztonság és Adatvédelem</b> <br />

    Az Electronic Emporium minden tőle telhetőt megtesz annak érdekében, hogy a
    fizetési adataid biztonságban legyenek. A személyes információidat
    bizalmasan kezeljük, és azokat kizárólag a vásárlás folyamatában használjuk
    fel.

    <b> Fontos Megjegyzések</b> <br />

    <ul>
      <li>
        Kérjük, vegye figyelembe, hogy a termékek ára nem tartalmazza az
        esetleges szállítási díjat, amely a fizetési folyamat során kerül
        kiszámításra.
      </li>
      <li>
        Az esetleges fizetési kérdésekkel vagy problémákkal kapcsolatban kérjük,
        lépjen kapcsolatba ügyfélszolgálatunkkal az alábbi elérhetőségeken.
      </li>
    </ul>

    Köszönjük, hogy a bizalmadat szavazod nekünk és reméljük, hogy kellemes
    vásárlási élményben lesz részed az Electronic Emporium webshopjában!
  </p-card>
</div>
