<div class="centered-card">
  <p-card class="footerCards">
    <b>Szállítási Információk</b> <br />

    Köszönjük, hogy érdeklődést mutat vásárlásunk iránt! Az alábbiakban
    részletesen tájékoztatjuk a szállítási lehetőségekről és a hozzájuk
    kapcsolódó információkról.

    <br />
    <br />
    <b>Szállítás Módjai és Időtartama</b><br />

    <ul>
      <li>
        Házhozszállítás: Elektronikai termékeinket országszerte házhoz
        szállítjuk.
      </li>
      <li>
        A rendeléseket általában 2-4 munkanapon belül kiszállítjuk, az előre
        meghatározott szállítási díj ellenében.
      </li>
      <li>
        Átvétel Postaponton: A kényelmes és gyors átvétel érdekében lehetőséget
        biztosítunk a csomagok személyes átvételére kiválasztott
        postapontjainkon. Ez a lehetőség általában 1-3 munkanapon belül
        elérhető.
      </li>
    </ul>

    <b>Szállítási Díjak</b> <br />

    A szállítási díj a termék súlyától és méretétől függően változik. A pontos
    szállítási díjat a kosár oldalon tudja megtekinteni a kiválasztott termékek
    alapján.

    <br />
    <br />
    <b>Fontos Megjegyzések</b><br />
    <ul>
      <li>
        Kérjük, hogy a szállítási cím megadásakor ügyeljen a helyesességre és
        teljességre. Pontos cím esetén gördülékenyebb a szállítás folyamata.
      </li>
      <li>
        Kiszállítás előtt értesítést küldünk az email címére vagy telefonon, így
        könnyedén követheti csomagját. Az esetleges kérdéseivel vagy további
        információkkal kapcsolatban kérjük, vegye fel velünk a kapcsolatot az
        alábbi elérhetőségeinken.
      </li>
      <li>
        Köszönjük, hogy bizalmat szavazott nekünk és reméljük, hogy elégedett
        lesz vásárlásával!
      </li>
    </ul>

    <br /><br />
  </p-card>
</div>
