<ng-container *ngFor="let product of products">
  <div class="container">
    <div class="left">
      <img src="{{ product.imageUrl }}" alt="Your Image" />
    </div>
    <div class="right">
      <h4>{{ product.productName }}</h4>
      <p-chip label="{{ product.productCategory?.categoryName }}"></p-chip>
      <p class="description">{{ product.productDescription }}</p>
      <p class="price">
        Ár: <b>{{ product.price | number : "1.0-0" }} Ft</b>
      </p>
      <p>
        <small
          >Nettó ár:
          {{ getNettoProductPrice(product.price) | number : "1.0-0" }} Ft</small
        >
      </p>
      <p-button
        icon="pi pi-cart-plus"
        (click)="addToCart(product)"
        label="Kosárba"
        class="addToCartButton"
      ></p-button>
    </div>
  </div>
</ng-container>
<p-toast></p-toast>
