.outline{
  margin: 5%;
  align-content: center;
  background-color: white;
  padding: 2%;
  border-radius: 10pt;
}
h1{
  margin-bottom: 5vh;
}
.p-float-label{
  margin: 3vh;
}

.p-button-success{
  margin: 3vh;
}


