<div class="card">
  <p-table
    #dt
    [value]="promotionMails"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedPromotionMails"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="{first} és {last} közötti elemek megjelenítése {totalRecords} adatból"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <button
          pButton
          pRipple
          label="Feliratkozó(k) törlése"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deletePromotionMail()"
          [disabled]="!selectedPromotionMails || !selectedPromotionMails.length"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Email cím</th>
        <th>Név</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-promotionMail>
      <tr>
        <td>
          <p-tableCheckbox [value]="promotionMail"></p-tableCheckbox>
        </td>
        <td>{{ promotionMail.email }}</td>
        <td>{{ promotionMail.name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Összesen {{ promotionMails ? promotionMails.length : 0 }} db
        feliratkozott cím található.
      </div>
    </ng-template>
  </p-table>
</div>

<p-toast></p-toast>
