<div class="centered-card">
  <p-card class="footerCards">
    <b>Üdvözlünk az Electronic Emporium-nál!</b> <br />

    Az Electronic Emporium egy olyan elektronikai cikkeket forgalmazó
    vállalkozás, amely szenvedéllyel és elkötelezettséggel áll az ügyfelek
    szolgálatában. Célunk, hogy kiváló minőségű elektronikai termékeket
    kínáljunk az ügyfeleknek és emellett olyan élményt nyújtsunk, amely túlmutat
    az elvárásaikon.

    <br /><br /><b>Mi Tesz Minket Különlegessé?</b>
    <ul>
      <li>
        Kiemelkedő Termékválaszték: Széleskörű termékpalettánk magába foglalja a
        legújabb technológiai trendeket és minőségi márkákat, hogy ügyfeleink
        mindig a legkiválóbb termékeket találják meg nálunk.
      </li>
      <li>
        Ügyfélorientált Szemlélet: Ügyfeleink elégedettsége az elsődleges
        szempont számunkra. Ezért folyamatosan arra törekszünk, hogy kiváló
        szolgáltatást és támogatást nyújtsunk minden vásárlónknak.
      </li>
      <li>
        Tapasztalt Szakemberek: Csapatunk tagjai szakértők az elektronikai
        termékek terén, akik készek segíteni az ügyfeleknek a legjobb döntés
        meghozatalában és a termékekkel kapcsolatos kérdések megválaszolásában.
      </li>
    </ul>

    <b>Kötelezettségvállalás</b> <br />

    Az Electronic Emporium elkötelezett amellett, hogy magas színvonalú
    termékeket és kiváló vásárlói élményt nyújtson minden egyes ügyfél számára.
    Bízunk benne, hogy elégedett leszel a nálunk történő vásárlással és
    visszatérsz hozzánk az elektronikai igényeid kielégítése érdekében.
  </p-card>
</div>
